header, footer{
    /*position*/
    position: fixed;
    left: 0;

    /*width*/
    width: 100%;
    height: 60px;

    /*display*/
    display: flex;

    /*center*/
    align-items: center;
    justify-content: center;
    z-index: 1000;
    
    /*colors*/
    background-color: #333;
    color: white;
}

header{
    top: 0;
}
  
footer{
    bottom: 0;
}

#core{
    /*border*/
    border: 3px;
    border-style: solid;
    border-radius: 45px;
    
    /*display*//*
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/

    /*center*/
    justify-content: center;
    align-items: center;
    text-align: center;

    /*position*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*width*/
    width: fit-content;
    max-width: 100%;

    /*other*/
    padding: 15px;
    font-size: 15px;

    /*colors*/
    background-color: #f7f7f7;
}

@media screen and (max-width: 600px) {
    #core{
        width: 80%;
        font-size: +20px;
    }
}